
    body
     {
         font-family: "Amatic SC", sans-serif;
         background-color:black;
         margin:0;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "Amatic SC", sans-serif;
    }
    .padding{
        padding:10px;
    }
    .margine{
    bottom:10px;
    }
    section img{
        border:1px solid black;
        box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.30);

    }
    .menu{
        background-color:#E7E9EB;
        position:relative;
        border: 5px solid red;

        padding:5px;
        border-radius: 10px;
    }
    .headingstyle{
        font-size:20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;   
    }
    #top{
        margin-top:15px;
       
    }
    .shifting{
        display:inline;
        /* position:left; */
     
    }

    .block{
        display:block;
    }
   