body{
    background: lightblue url("/images/background.jpg") no-repeat fixed center;
    
}
.container2{
    width:50%;
    height: 830px;
    margin-left:25%;
    padding:30px;
    background: white;  
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.40);

}
.hr1{
    border: none;
border-top: 10px double rgb(255, 255, 255);
color: rgb(255, 255, 255);
overflow: visible;
text-align: center;
height: 5px;
}